html{
    font-family: "Helvetica";
    background: whitesmoke;
}

body{
    background: #e98d70;
    max-width: 900px;
    margin: 0 auto;
}

#header {padding-top: 5px;
    color: white;
    background-color: #aa4630;}

#inner-header{padding-left: 20px;}

#main{padding-left: 10px;
    color: darkslateblue;}


input[type="text"],select{
    color: gray;
    border: 1px solid lightsteelblue;
    height: 30px;
    line-height: 15px;
    margin: 2px 6px 16px 0px;
}

input[type="submit"]{
    padding: 5px 10px 5px 10px;
    color: white;
    background: #004983;
    border: none;
    box-shadow: 1px 1px 1px #4C6E91;
}

input[type="submit"]:hover{
    background: lightsteelblue;
    color: black;
}