<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ultimas noticias</title>
</head>
<body>



    <h1>Ultimas noticias</h1>
    <h2>El tiempo actual en </h2>
    <p>Ciudad:<b>{{ weather.city }}, {{ weather.country }}</b></p>
    <p>{{ weather.description }} | {{ weather.temperature }}&#8451</p>
    <br/>


     <form>
         <h2>Ultimas noticias en:</h2>
        <input type="text" name="publication" placeholder="search" />
        <input type="submit" value="Submit" />
    </form>
    <br/>

    <form>
        <h2>El tiempo actual en:</h2>
        <input type="text" name="city" placeholder="busqueda del tiempo que hace">
        <input type="submit" value="Submit">
    </form>

    <br/>

    <h2>Cambio</h2>
    <p>1 {{ currency_from }} = {{ currency_to }} cambio = {{ rate }}</p>



    {% for article in articles %}
    <b><a href="{{article.link}}">{{ article.title }}</a></b><br />
    <i>{{article.published}}</i>
    <p>{{article.summary}}</p>

    <hr />
    {% endfor %}

</body>
</html>