<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ultimas noticias</title>

    <meta name="viewport" content="width=device-width">
    <meta name="viewport" initial-scale=1 maximun-scale=1>

    <!-- css for general settings /-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_style.css') }}" />
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
    window.cookieconsent_options = {
    "message":"Este sitio usa cookies para mejorar su experiencia como usuario. Si continua usandolo usted acepta su uso",
    "dismiss":"Acepto y cierro este banner",
    "learnMore":"Mas información",
    "link":"{{ url_for('main.politica_de_cookies') }}" ,
    "theme":"dark-bottom"};
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/cookieconsent.min.js') }}">

    </script>
<!-- End Cookie Consent plugin -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">

</head>

<body>


{% block header %}{% endblock %}
{% block main %}{% endblock %}

</body>
</html>