{% extends "base.html" %}

{% block header %}

    <div id="header">
        <div id="inner-header">
            <h1>Mi Asistente</h1>
            <p>Agregador RSS - ultimas noticias.</p>
            <p>Tiempo atmosferico.</p>
            <p>Conversion de moneda</p>
            <br>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div id="main">

    <h2>El tiempo actual en </h2>
    <p>Ciudad:<b>{{ weather.city }}, {{ weather.country }}</b></p>
    <p>{{ weather.description }} | {{ weather.temperature }}&#8451</p>
    <br/>


     <form>
         <h2>Ultimas noticias publicadas en:</h2>
        <input type="text" name="publication" placeholder="publicacion" />
        <input type="submit" value="Submit" />
    </form>
    <br/>

    <form>
        <h2>El tiempo actual en:</h2>
        <input type="text" name="city" placeholder="busqueda del tiempo que hace">
        <input type="submit" value="Submit">
    </form>



    <br/>

    <h2>Cambio</h2>
        <form>
            from:<select name="currency_from">
            {% for currency in currencies %}
            <option value="{{ currency }}" {{ 'selected="selected"' if currency_from == currency}}>{{ currency }}</option>
            {% endfor %}
            </select>

            to:<select name="currency_to">
            {% for currency in currencies %}
            <option value="{{ currency }}" {{ 'selected="selected"' if currency_to == currency}}>{{ currency }}</option>
            {% endfor %}
           </select>
            <input type="submit" value="Submit">

        </form>



    <p>1 {{ currency_from }} se cambia a {{ rate }} {{ currency_to }}  </p>



    {% for article in articles %}
    <b><a href="{{article.link}}">{{ article.title }}</a></b><br />
    <i>{{article.published}}</i>
    <p>{{article.summary}}</p>

    <hr />
    {% endfor %}

</div>
{% endblock %}
